path.slice {
  stroke-width: 2px;
}

polyline {
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

svg text.percent {
  fill: white;
  text-anchor: middle;
  font-size: 12px;
}


/* body {
  background-color: #F5F7FA; 
}
*/
/* .demo-content {
 padding: 30px 20px;
}
.mybox {
  position: absolute;
  padding: 12px 12px;
  background-color: #fff;
  margin-bottom: 15px;
  max-width: 100px;
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  border: 1px solid red;
  color: #656D78;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.1);
}
.play {
  color: #AAB2BD;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 80px;
  margin-bottom: 30px;
  border-radius: 30px;
}
.play:hover {
  color: #656D78;
}
.ion {
  margin-right: 5px;
} */